@charset "ISO-8859-1";

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 2rem;
}

th {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: grey;
}

th, td {
	padding: 0.5rem;
}

td:hover {
	background-color: lightsalmon;
}

.paginate_button {
	border-radius: 0 !important;
}

#table {
	width: 55%;
	position: absolute;
	left: 300px;
}