@charset "ISO-8859-1";
body{
	
	overflow: hidden;
}
.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: steelblue;
}

.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 23px;
	color: white;
	display: block;
}

.sidenav a:hover {
	color: black;
}

.main {
	margin-left: 200px;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#update {
	visibility: hidden;
	position: absolute;
	left: 450px;
	top: 60px;
}

#update {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 50%;
}

#userInfo {
	position: absolute;
	left: 600px;
	top: 50px;
}
 img{

width:250px;
height:250px;
            position: absolute;
            left: -350px;
            top:-30px;
            border-radius: 50%;

        }
     #edit{
   position: absolute;
            left: -150px;
            top:200px;     
     } 
     #profile{
     position: relative;
     left:-100px;
     top:100px;
     }
    #profile input{
     outline: none;
     }
      input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}