@charset "ISO-8859-1";

body {
	overflow-x: hidden;
}

img {
	width: 300px;
	height: 300px;
	border: 2px solid black;
	position: relative;
	left: 350px;
}

.reviewContainer {
	background: rgba(250, 250, 250, .9) !important;
	border: none !important;
	padding: 15px;
	border-radius: 3px;
}

.reviwerName {
	color: #023f72 !important;
	font-family:serif;
	position: relative;
	top: -15px;
	left: 5px;
}

.rating {
	border: 1px solid #023f72 !important;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
	border-radius: 5px;
}

.userProfile {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
	left: 0px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

ul {
	margin: 0;
	overflow: hidden;
	background-color: gray;
	color: white;
	font-weight: bolder;
	padding: 16px;
	opacity: 0.5px;
}

li {
	float: right;
	color: white;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1355px;
}

#nav a {
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
}