@charset "ISO-8859-1";

body {
	overflow-x: hidden;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	left: 350px;
	border: 2px solid blue;
}

.shimmer {
	animation-duration: 2.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	animation-timing-function: linear;
	background: #ddd;
	background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
	background-size: 1200px 100%;
}

@-webkit-keyframes shimmer { 0% {
	background-position: -100% 0;
}

100%
{
background-position
:
100%
0;
}
}
@keyframes shimmer { 0% {
	background-position: -1200px 0;
}

100%
{
background-position
:
1200px
0;
}
}
table tr, td {
	margin-left: 150px;
}

#stadiumLists {
	margin-left: -380px;
	margin-top: 50px;
	width: auto;
}

#stadiumList {
	padding: 10px;
}

table th, table td {
	padding: 5px;
	/* Apply cell padding */
}

table {
	border-collapse: separate;
	border-spacing: 30px;
	cellspacing: 70px;
	/* Apply cell spacing */
}

#stadium {
	position: relative;
	left: 400px;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

ul {
	margin: 0;
	overflow: hidden;
	background-color: gray;
	color: white;
	font-weight: bolder;
	padding: 16px;
	opacity: 0.5px;
}

li {
	float: right;
	color: white;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1355px;
}

#nav a {
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
}