@charset "ISO-8859-1";
body{
	overflow: auto;
}
table {
	position: absolute;
	left: 235px;
	top: 50px;
	width: 80%;
	border-collapse: collapse;
	border-top: none;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background-color: blue;
	color: white;
	height: 60px;
	border: 1px solid black;
}

caption {
	background-color: #eee;
	color: blue;
	font-size: 25px;
	text-align: center;
	height: 60px;
	border: 1px solid black;
}

td {
	height: 20px;
	text-align: center;
	border: 1px solid black;
}

td:hover {
	color: blue;
}
table {
  overflow: scroll;
}
#tabel a {
	text-decoration: none;
}
.swal2-title {
  color: red; 
}
.swal2-cancelButton,.swal2-closeButton{
background-color: green;
}

.EmptySection{
	position:absolute;
bottom:0px; 	
}
th {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: grey;
}

th, td {
	padding: 0.5rem;
}

td:hover {
	background-color: lightsalmon;
}

.paginate_button {
	border-radius: 0 !important;
}

#tables {
	width: 55%;
	position: absolute;
	left: 300px;
}