@charset "ISO-8859-1";

#updateMatch {
	position: absolute;
	left: 500px;
	top: 100px;
	width: 40%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

#updateMatch strong {
	text-align: center;
}

#updateMatch input[type="date"] {
	position: relative;
	left: 120px;
	top: -20px;
	background: transparent;
	border: none;
}

#updateMatch input[type="time"] {
	position: relative;
	left: 320px;
	top: -45px;
	background: transparent;
	border: none;
}

#updateMatch button {
	position: relative;
	left: 200px;
	background-color: navy;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: 4px 2px;
}

#updateMatch  button:hover {
	background-color: green;
}

img {
	width: 100px;
	height: 100px;
}

#teamA {
	position: relative;
	left: 30px;
}

#teamB {
	position: relative;
	left: 420px;
}

#teamBlogo {
	position: relative;
	left: 250px;
}

#vs {
	font-size: 50px;
	position: relative;
	left: 120px;
	top: 0px;
}

strong {
	text-align: center;
}

#matchDetails {
	position: relative;
	left: 180px;
	top: -20px;
}

#matchDetails strong {
	font-size: 20px;
}

::placeholder {
	color: black;
	font-size: 28px;
	height: 50px;
	font-style: italic;
}